@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Syne, sans-serif;
    border: 10px;
    color:hsl(251, 13%, 17%);
}

/*h1, h2 {
    font-family: Syne, sans-serif;
    letter-spacing: 3px;
} */

h2{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

/* heading and logo */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

#logo{
    text-decoration: none;
    color: #d3c1bc;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

/* navigation links */

li {
    margin-left: 20px;
    flex-wrap: nowrap;
}

#menu {
    
    font-size: 120%;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
}

#menu a{
    text-decoration: none;
    color: #d3c1bc;
}

#menu a:hover{
    background-color:rgb(109,106,124, 0.3);
    padding: 5px;
    border-radius: 5%;;
}

.active{
    background-color: rgb(109,106,124, 0.3);
    padding: 5px;
    border-radius: 5%;
}


/* Hero-Image and description box*/

#hero-image{
    height: 500px;
    width: 100%;
    background-image: url("../css/images/moon-clouds.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    }

#description-box{
    background-color:rgba(211,193,188,0.5);
    padding-left: 20px;
    margin-top: 350px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    
}

/* Information section */

.moon-meditation-text{
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

.moon-meditation-text a{
    text-decoration: none;
    color: rgb(109,106,124);
}

.moon-meditation-text a:hover{
    background-color: #d3c1bc;
    padding: 4px;
    border-radius: 5%;
    word-wrap: normal;
}

/* Building a practice section */

.practice-container{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.practice-content{
    display: flex;
    border-radius: 5%;
    width: 300px;
    height: 250px;
    margin: 5px;
    font-weight: 500;
    background-color: rgb(132,121,132, 0.4);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.practice-content-p{
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

/* Footer  */

.footer{
    display: flex;
    margin-top: 200px;
    justify-content: space-evenly;
    align-items: center;

    background-image: url("../css/images/moon-clouds.jpg");
    height: 100px;
    width: 100%;
}

/* lunar-phases.html dropdown */


.dropdown-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
 
  }

  .dropdown-content {
      display: flex;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }