@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Syne, sans-serif;
}

/* heading and logo */

h1, h2 {
    font-family: Syne, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* navigation links */

#menu {
    font-size: 120%;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 20px;
}
