@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Syne, sans-serif;
    border: 10px;
    color:#282631;
}

/* heading and logo */

h1, h2 {
    font-family: Syne, sans-serif;
    letter-spacing: 3px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: rgb(173,136,132,0.4);*/

}

#logo{
    text-decoration: none;
    color: #d3c1bc;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

/* navigation links */

li {
    margin-left: 20px;
    flex-wrap: nowrap;
}

#menu {
    
    font-size: 120%;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
}

#menu a{
    text-decoration: none;
    color: #d3c1bc;
}

#menu a:hover{
    background-color:rgb(109,106,124, 0.3);
    padding: 5px;
    border-radius: 5%;;
}

.active{
    background-color: rgb(109,106,124, 0.3);
    padding: 5px;
    border-radius: 5%;
}


/* Hero-Image and description box*/

#hero-image1{
    height: 500px;
    width: 100%;
    background-image: url("../css/images/moon-clouds.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    }

#description-box{
    background-color: #d3c1bc;
    padding-left: 20px;
    margin-top: 350px;
    text-transform: uppercase;
    
}


