@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Syne, sans-serif;
    border: 10px;
    color: hsl(251, 13%, 17%);
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}

h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

/* heading and logo */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

#logo {
    text-decoration: none;
    color: #d3c1bc;
    text-transform: uppercase;
}

/* navigation links */

li {
    margin-left: 15px;
    flex-wrap: nowrap;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 120%;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #d3c1bc;
}

#menu a:hover {
    background-color: rgb(109, 106, 124, 0.3);
    padding: 5px;
    border-radius: 5%;
}

.active {
    background-color: rgb(109, 106, 124, 0.3);
    padding: 5px;
    border-radius: 5%;
}


/* Hero-Image and description box*/

#hero-image {
    height: 500px;
    width: 100%;
    background-image: url("../css/images/moon-clouds.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

#description-box {
    background-color: rgba(211, 193, 188, 0.5);
    padding-left: 20px;
    margin-top: 350px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    position: relative;
}

/* Information section index.html */

.moon-meditation-text {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

.moon-meditation-text a {
    text-decoration: none;
    color: rgb(109, 106, 124);
}

.moon-meditation-text a:hover {
    background-color: #d3c1bc;
    padding: 4px;
    border-radius: 5%;
    word-wrap: normal;
}

/* Building a practice section moon-phases.html */

.practice-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.practice-content {
    display: flex;
    border-radius: 5%;
    width: 300px;
    height: 250px;
    margin: 5px;
    font-weight: 500;
    background-color: rgb(132, 121, 132, 0.4);
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.practice-content-p {
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

/* Footer  */

.footer {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;

    background-color:#272230;
    width: 100%;
    height: 100px;
    
}

.footer p{
    color: #d3c1bc;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}

/* Collapsible moon-phases.html */

.lunar-phase-p{
    margin: 0 200px 40px 200px;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;
}


.collapsible {
    /*max-width: 600px;*/
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
    font-weight: 400;
}

.collapsible input {
    display: none;
}

.collapsible label {
    position: relative;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgba(211, 193, 188, 0.9);
    color: hsl(251, 13%, 17%);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
    z-index: 1;
    text-align: center;
}

.collapsible-label{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.collapsible label:after {
    content: "〉";
    position: absolute;
    right: 10px;
    bottom: 7px;
    padding: 15px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.collapsible input:checked+label:after {
    transform: rotate(90deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: scroll;
    font-size: 20px;
    text-align: justify;
    border-radius: 4px;
    line-height: 2;
    position: relative;
    top: -40%;
    opacity: 0.5;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.collapsible input:checked~.collapsible-text {
    max-height: 300px;
    padding-bottom: 25px;
    color: hsl(251, 13%, 17%);
    opacity: 1;
    top: 0;
}

.collapsible-text h3 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
}

/* Moon Phase Emojis */


#dark-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 3px 0px rgba(51,48,61, 0.8);
    transform: rotate(183deg);
    margin-right: 10px;

}

#new-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgba(211, 193, 188, 0.3);
    border:solid rgb(51,48,61, 0.7);
    margin-right: 10px;
}

#waxing-cresent-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 6px 0px rgba(51,48,61, 0.7);
    transform: rotate(3deg);
    margin-right: 10px;
     
}

#waxing-first-quarter-moon{
    height: 15px;
    width: 25px;
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
    background-color: rgba(51,48,61, 0.7);
    border-radius: 150px 150px 0 0;
    margin-top: 5px;
    margin-right: 10px;
}

#waxing-gibbous-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid rgba(211, 193, 188, 0.8);
    background-color: rgba(51,48,61, 0.7);
    box-shadow: inset 4px 0px rgba(211, 193, 188, 0.8);
    transform: rotate(3deg);
    margin-right: 10px;
}

#full-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid rgba(211, 193, 188, 0.8);
    background-color: rgb(51,48,61, 0.7);
    margin-right: 20px;
}

#wanning-gibbous-moon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid rgba(211, 193, 188, 0.8);
    background-color: rgba(51,48,61, 0.7);
    box-shadow: inset 4px 0px rgba(211, 193, 188, 0.8);
    transform: rotate(183deg);
    margin-right: 10px;
}

#wanning-last-quarter-moon{
    height: 15px;
    width: 25px;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg);
    background-color: rgba(51,48,61, 0.7);
    border-radius: 150px 150px 0 0;
    margin-top: 5px;
    margin-right: 10px;
}

/* sign-up.html*/

.sign-up-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 100px 200px;
}

.sign-up-header p {
    text-align: center;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-image: linear-gradient(to bottom right,rgba(148,151,166,0.8), rgba(173,136,131,0.8));

    margin: -40px 200px 100px 200px;
    padding: 40px 100px 40px 20px;
    border-radius: 4px;
}

.sign-up-form label {
    font-size: 20px;
    margin: 40px 0 20px 0;
}

.text-input {
    border-radius: 4px;
    width: 400px;
    height: 40px;
}

/* Code copied from Love Running Form Challenge */

#form-button {
    margin-top: 40px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: Syne, sans-serif;
    background-image: linear-gradient(to bottom right, rgba(149,151,164,0.8), rgba(95,87,107,0.8));
    color: hsl(251, 13%, 17%);
}

/* More Info */

.external-links-container {
    margin: 50px 200px 0 200px;
}

.external-links-content{
    text-align: justify;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

.external-links-content h3 {
    text-align: left;
}

.external-links-content a {
    text-decoration: none;
    color: hsl(251, 13%, 17%);

}

.external-links-content a h3:hover {
    background-color: rgba(211, 193, 188, 0.5);
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: underline;
    padding: 10px;
    
}

.external-links-content {
    text-align: left;
}

.meditation-video{
    margin: 40px 0 20px 160px;
}

/* Media queries */

/* For larger to medium size screen */

@media screen and (max-width: 870px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 5px;
    }

    #menu{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        border: 0;
        line-height: 25px;
        
    }

    #menu a:hover {
        background-color: rgb(109, 106, 124, 0.5);
    }

    li { 
        margin-left: 0px;
        width: 150px;
        height: 50px;
        
    }

    #description-box{
        margin-top: 100px;
    }

    .moon-meditation-text {
        margin: 1px 20px 0 20px;

        text-align: justify;
        line-height: 2;
        font-size: 15px;
        font-weight: 500;
    }    

    .footer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 150px;
    }

    .lunar-phase-p{
        margin: -20px 20px 10px 20px;
    }

    .collapsible{
        margin: 1px 20px 0 20px;
    }

    .collapsible label{
        font-size: 15px;
        padding-top: 40px;
    }

    .collapsible label:after {
        top: 5px;
        right: 10px;
        bottom: 10px;
    }
    
    .build-practice-h2{
        margin-top: 40px;
    }
    .practice-container {
        display: flex;
        margin-top: 40px;
        flex-direction: column;

    }

    .external-links-container {
        margin: 1px 20px 0 20px;
    }

    .sign-up-header{
        margin: 1px 20px 0 20px;

    }

    .sign-up-form{
        margin: 1px 20px 0 20px;
    }

    .text-input {
        border: solid hsl(251, 13%, 17%);
        border-radius: 4px;
        width: 200px;
        height: 40px;
    }

    #wanning-last-quarter-moon{
        margin-right: 5px;
    }

}

/* For small to x-small size screen */

@media screen and (max-width: 280px) {
    #description-box{
        margin-top: 50px;
    }

    .build-practice-h2{
        margin-top: 40px;
    }

    .practice-content {
        width: 270px;
    }

    .collapsible-label{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #dark-moon{
        display: none;
    }
    
    #new-moon{
        display: none;
    }
    
    #waxing-cresent-moon{
        display: none;
    }
    
    #waxing-first-quarter-moon{
        display: none;
    }
    
    #waxing-gibbous-moon{
        display: none;
    }
    
    #full-moon{
        display: none;
    }
    
    #wanning-gibbous-moon{
        display: none;
    }
    
    #wanning-last-quarter-moon{
        display: none;
    }

    .sign-up-form{
        margin: 0 20px 0 20px;
    }
    
    .footer p{
        font-size: 10px;
        
    }

}

